<div class="container">
  <h1>
    <%= @todo.title %>
    <small>
      <%= @todo.due_date %>
    </small>
  </h1>
  <p>
    Note: <%= simple_format(@todo.note) %>
  </p>
  <%= link_to 'Back to index', todos_path %>
</div>